<h1><%=@define.define_word %></h1>
<h4><%=@define.word_meaning %></h4><br><br>

<form action="/delete/<%= @define.id %>" method="post">
  <button type="submit" class="btn">delete</button>
</form><br>

<!-- <form action="/update/<%= @define.id%>" method="post">
  <button type="submit" class="btn">Update</button>
</form> -->
<h4><a href='/update/<%= @define.id %>'>add definition</a></h4>
<h4><a href='/'>Return home</a></h4>
